data/heise/count_data_50K filter=lfs diff=lfs merge=lfs -text
data/heise/doc_topic_weights filter=lfs diff=lfs merge=lfs -text
data/heise/text_length.npy filter=lfs diff=lfs merge=lfs -text
data/heise/vocabulary_50K.npy filter=lfs diff=lfs merge=lfs -text
data/heise/word_topic_weights filter=lfs diff=lfs merge=lfs -text
